# OS
.DS_Store

# Dependencies
node_modules/
**/node_modules/

# Build artifacts
dist/
**/dist/
.next/
**/.next/

# Env files
.env
.env.*
!.env.example

# Expo / React Native
.expo/
*.expo*
coverage/
